* {
    font-family: Roboto, 'Open Sans', sans-serif;
}

body {
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}
header {
    background-color: #1F2937;
    height: 5vh;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

#hero {
    margin: 0;
    height: 21.5vh;
}

#hero, #footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: auto;
}

.hero-secondary-text, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

#info {
    background-color: white;
    height: 21.5vh;
}

#quote {
    background-color: #E5E7EB;
    height: 21.5vh;
}

#cta {
    background-color: white;
    height: 21.5vh
}

#footer {
    height: 5vh;
}