* {
    font-family: Roboto, 'Open Sans', sans-serif;
}
/* main section */
body {
    margin-top: 0;
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background-color:#1F2937;
}

/* navbar */
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 0;
}
.link-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* hero */
#hero {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-main-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-flexdiv-left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    text-wrap: pretty;
}

.hero-button {
    background-color: #3882F6;
    padding: 5px;
    width: 20%;
    align-self: center;
    border-radius: 10px;
    color: white;
    border-color: transparent;
}

.hero-img {
    align-items: flex-end;
}

.hero-secondary-text, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

/* info section */
#info {
    background-color: white;
}

/* quote section */
#quote {
    background-color: #E5E7EB;
}

/* call-to-action section */
#cta {
    background-color: white;
}

/* footer section */
#footer {
    background-color: #1F2937;
}